@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
}
#app-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
header,
footer {
  height: 20%;
}
footer {
  text-align: center;
  font-size: 12px;
  margin: 20px 0 0;
  background-color: #c11212;
  color: #f4d942;
  height: 2rem;
  line-height: 2rem;
}
footer p {
  /* display: inline-block; */
  vertical-align: middle;
}
main {
  height: 80%;
  padding: 20px;
}
.site-header {
  background-color: #c11212;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.vps-logo-container {
  margin-right: 5px;
}
.logo {
}
.vps-sm-logo {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-left: 5px;
}
.vps-logo-text {
  vertical-align: bottom;
  font-weight: bold;
  color: #f4d942;
  font-size: 20px;
}
.menu-container {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: end;
  margin-right: 20px;
}
.menu-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style-type: none;
}
.menu-list a {
  /* color: #ccba6d; another option for yellow*/
  color: #f4d942;
  margin-right: 36px;
  text-decoration: none;
}
.mobile-menu #mobile-menu-links {
  display: none;
}
.jumbotron-container {
  text-align: center;
  /* height: 100vh; */
}
.vps-jumbotrom-image {
  width: 700px;
  height: 500px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .vps-logo-text {
    font-size: 16px;
    display: none;
  }
  /* .menu-container {
    display: none;
  } */
  .vps-jumbotrom-image {
    width: 20rem;
    height: 16rem;
    vertical-align: middle;
  }
  .menu-list a {
    margin-right: 30px;
    font-size: 14px;
  }
}
